In [15]:
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer
from scipy import sparse
from numpy import savez_compressed
from numpy import save
import gc
##gc.collect()

In [3]:
df = pd.read_csv('Dataset/preprocessed.csv')
df.head(5)

,Unnamed: 0,Score,Summary,Text,Value,Preprocessed_review
0,150528,4,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...,1,junei saw charming groupof roses beginto droop...
1,150506,4,chicken soup with rice months,This is a fun way for children to learn their ...,1,fun way children learn months year learn poems...
2,150505,4,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc...",1,grew reading sendak books watching really rosi...
3,150504,4,A classic,Get the movie or sound track and sing along wi...,1,get movie sound track sing along carol king gr...
4,150503,4,Chicken Soup with Rice,A very entertaining rhyming story--cleaver and...,1,entertaining rhyming story cleaver catchy illu...

## Bag of Words Featurization

In [4]:
reviews = df['Preprocessed_review']
count_vect=CountVectorizer()
count_vect.fit(reviews.values.astype('U'))

CountVectorizer()

In [5]:
count_text=count_vect.transform(reviews.values.astype('U'))
print("The type of count vectorizer",type(count_text))
print("The shape of text BOW vectorizer",count_text.get_shape())
print("Number of unique words:",count_text.get_shape()[1])

The type of count vectorizer <class 'scipy.sparse._csr.csr_matrix'>
The shape of text BOW vectorizer (395172, 122124)
Number of unique words: 122124

In [12]:
sparse.save_npz("BOW.npz", count_text)
#your_matrix_back = sparse.load_npz("yourmatrix.npz")

In [16]:
save('labels.npy', np.array(df['Value']))
print(np.array(df['Value']).shape)

(395172,)